
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(220, 220, 220); 
}

#inicio {
    background-size: cover;
    background-position: center, center;
    height: 100vh;
    margin: 0px 0px 0px 150px;
}

#inicio .presentacion {
    height: 100vh;
    columns: #fff;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#inicio .presentacion .bienvenida {
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    color: white;
}

#inicio .presentacion h2 {
    font-size: 55px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

#inicio .presentacion h2 span {
    font-size: 55px;
    color: #ffc107;
}

#inicio .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    background-color: transparent; 
    font-weight: bold;
    transition: all 0.2s ease;
}

#inicio .presentacion a:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #ffc107;  
}

/* ---- RESPONSIVE ----- */

@media (max-width: 1140px) {

    #inicio .presentacion h2, 
    #inicio .presentacion h2 span {
        font-size: 38px;
    }
}

@media (max-width: 820px) {

    #inicio {
        margin: 0px;
    }

    #inicio .presentacion {
        padding: 0px 15px 0px 15px;
    }

    #inicio .presentacion .bienvenida {
        margin-top: 70px;
    }

    #inicio .presentacion a {
        width: auto;
    }
}

@media (max-width: 375px) {

    #inicio .presentacion .bienvenida {
        margin: 100px 0px 0px 0px;
    }
}

@media (max-width: 280px) {

    #inicio .presentacion h2, 
    #inicio .presentacion h2 span {
        font-size: 30px;
    }

    #inicio .presentacion .bienvenida {
        font-size: 16px;
        margin: 100px 0px 20px 0px;
    }

    #inicio .presentacion a {
        padding: 15px 20px;
        font-size: 15px;
    }
}

